.data{
    position: absolute !important;
    z-index: 35;
    width: 100%;
    display: none;
    overflow: hidden !important;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 1px gray;
    border-top: none;
}

.form-inline{
    position: relative !important;
}

#searchbar:focus + #search-box{
    display: block;
}

#search-box:active{
    display: block;
}