{% extends "base.html" %}
{% load static %}
{% load error_extras %}

{% block title %}
    Instodramat - Registry
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/registry.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
    <div class="row">
        <div class="col-lg-12" id="message-container">
            <a>
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% if user_form.non_field_errors or profile_form.non_field_errors %}
                    <ul>
                        {{ user_form.non_field_errors|error_as_li }}
                        {{ profile_form.non_field_errors|error_as_li }}
                    </ul>
                {% endif %}
            </a>
        </div>
    </div>
    {% endif %}
    <div class="card mt-3" style="width: 100%;">
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                {% for field in user_form %}
                <div class="col-lg-5 col-md-12 mx-5 mt-3">
                    <a class="registry-labels">{{ field.label }}{% if field.field.required %}*{% endif %}: </a><br>
                    {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                    <br>
                    {{ field.help_text }}
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                {% for field in profile_form %}
                <div class="col-lg-5 col-md-12 mx-5 mt-3">
                    <a class="registry-labels">{{ field.label }}{% if field.field.required %}*{% endif %}: </a><br>
                   {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}<br>
                    {{ field.help_text }}
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 mt-4" style="text-align: center;">
                    <input type="submit" value="Submit" class="btn btn-secondary mx-3 my-3" style="width: 95%;">
                </div>
            </div>
        </form>
    </div>
{% endblock %}