body, #container-background, #container-content {
    height: 85vh;
}

#form-container {
    height: 85vh;
}

.lg-error {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.lg-error:hover {
    color: red
}