.profile-avatar{
    border-radius: 50%;
    display: block;
    margin: auto;
}

#avatar-container{
    justify-content: center;
}

#user-data {
    justify-content: space-around;
}

.gallery-thumbnails img {
    display: block;
    margin: auto;
    margin-top: 10px;
}
